
<div id="invoice-POS">
	<div id="mid">
		<div class="info">
			<h2>Contact Info</h2>
			<p id="Customer-Name"></p>
		</div>
	</div><!--End Invoice Mid-->

	<div id="bot">
		<div id="table">
			<table>
				<thead>
					<tr id="tabletitle" class="tabletitle">
						<td class="item"><h2>Item</h2></td>
						<td class="Hours"><h2>Qty</h2></td>
						<td class="Rate"><h2>Sub Total</h2></td>
					</tr>
				</thead>
				<tbody>

				</tbody>
				<tfoot>
					<tr class="tabletitle">
						<td></td>
					    <td class="Rate"><h2>Total</h2></td>
					    <td class="payment"><h2 id="CountInvoice"></h2></td>
				   </tr>
				</tfoot>
				
			</table>
		</div><!--End Table-->

	</div><!--End InvoiceBot-->
</div><!--End Invoice-->
