<div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <div class="d-flex justify-content-between">
            <span>Count:x2</span>
            <span class="text-primary fw-bold">$123</span>
        </div>
    </div>
</div>